pytz
psycopg2-binary
dj-database-url
djangorestframework
django==4.1.9
django-cors-headers
dnspython
requests
djangorestframework 
djangorestframework-jwt
djangorestframework-simplejwt
django-meta 
django-robots-txt
xlsxwriter
pandas
# django-allauth
google-auth 
google-auth-oauthlib 
google-auth-httplib2

pymongo
gridfs
